<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <figure class="modal-figure">
        <img class="modal-content" id="img01">
        <video class="modal-content" id="vid01" autoplay="" loop=""></video>
        <figcaption id="caption"></figcaption>
    </figure>
</div>

<!-- The Modal for pdf -->
<div id="pdfModal" class="modal">
    <span class="close">&times;</span>
    <iframe class="modal-content" id="pdf01"></iframe>
    <div id="caption"></div>
</div>
